[Unit]
Description=Home Assistant
Wants=mosquitto.service
After=mosquitto.service
PartOf=containers.target
StartLimitIntervalSec=10min
StartLimitBurst=5

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry
ContainerName=homeassistant
Network=smarthome.network
Timezone=Europe/Berlin
Volume=/var/lib/service-data/smarthome/homeassistant:/config:Z
PublishPort=127.0.0.1:14001:8123/tcp
ReadOnly=true
DropCapability=ALL
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=30s
TimeoutStartSec=900
CPUWeight=20
MemoryHigh=512M
MemoryMax=1G

[Install]
WantedBy=containers.target
