[Unit]
Description=Mosquitto MQTT broker
ConditionPathExists=/etc/container-services/smarthome/mosquitto/mosquitto.passwd
PartOf=containers.target
StartLimitIntervalSec=10min
StartLimitBurst=5

[Container]
Image=docker.io/library/eclipse-mosquitto:latest
AutoUpdate=registry
ContainerName=mosquitto
Network=smarthome.network
Timezone=Europe/Berlin
Volume=/etc/container-services/smarthome/mosquitto:/mosquitto/config:ro,Z
ReadOnly=true
DropCapability=ALL
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=30s
TimeoutStartSec=900
CPUWeight=20
MemoryHigh=128M
MemoryMax=256M

[Install]
WantedBy=containers.target
