[Unit]
Description=Zigbee2MQTT bridge
ConditionPathExists=/dev/serial/by-id/usb-dresden_elektronik_ConBee_III_DE03110622-if00-port0
Wants=mosquitto.service
After=mosquitto.service
PartOf=containers.target
StartLimitIntervalSec=10min
StartLimitBurst=5

[Container]
Image=docker.io/koenkk/zigbee2mqtt:latest
AutoUpdate=registry
ContainerName=zigbee2mqtt
Network=smarthome.network
Timezone=Europe/Berlin
Volume=/var/lib/service-data/smarthome/zigbee2mqtt:/app/data:Z
AddDevice=/dev/serial/by-id/usb-dresden_elektronik_ConBee_III_DE03110622-if00-port0:/dev/ttyUSB0
PublishPort=127.0.0.1:14002:8080/tcp
ReadOnly=true
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=30s
TimeoutStartSec=900
CPUWeight=20
MemoryHigh=512M
MemoryMax=1G

[Install]
WantedBy=containers.target
