[Unit]
Description=Vaultwarden password manager
ConditionPathExists=/etc/container-services/vaultwarden/vaultwarden.env
PartOf=containers.target
StartLimitIntervalSec=10min
StartLimitBurst=5

[Container]
Image=docker.io/vaultwarden/server:latest
AutoUpdate=registry
ContainerName=vaultwarden
Network=vaultwarden.network
Timezone=Europe/Berlin
Environment=DOMAIN=https://warden.mairhoefer.xyz
Environment=SIGNUPS_ALLOWED=false
Environment=IP_HEADER=X-Forwarded-For
Environment=SMTP_HOST=mail.mairhoefer.xyz
Environment=SMTP_SECURITY=starttls
Environment=SMTP_PORT=587
Environment=SMTP_FROM=service@mairhoefer.xyz
Environment=SMTP_FROM_NAME=Vaultwarden
Environment=SMTP_USERNAME=service@mairhoefer.xyz
EnvironmentFile=/etc/container-services/vaultwarden/vaultwarden.env
Volume=/var/lib/service-data/vaultwarden:/data:Z
PublishPort=127.0.0.1:13001:80/tcp
ReadOnly=true
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=30s
TimeoutStartSec=900
CPUWeight=20
MemoryHigh=256M
MemoryMax=512M

[Install]
WantedBy=containers.target
