[Unit]
Description=Mealie recipe manager
PartOf=containers.target
StartLimitIntervalSec=10min
StartLimitBurst=5

[Container]
Image=ghcr.io/mealie-recipes/mealie:latest
AutoUpdate=registry
ContainerName=mealie
Network=mealie.network
Timezone=Europe/Berlin
Environment=BASE_URL=https://mealie.home.mairhoefer.xyz
Environment=ALLOW_SIGNUP=false
Environment=PUID=0
Environment=PGID=0
Volume=/var/lib/service-data/mealie:/app/data:Z
PublishPort=127.0.0.1:15001:9000/tcp
NoNewPrivileges=true

[Service]
Restart=on-failure
RestartSec=30s
TimeoutStartSec=900
CPUWeight=20
MemoryHigh=384M
MemoryMax=768M

[Install]
WantedBy=containers.target
